<div id="bd-footer">
  <ul>
    <li>
      <a href="#/tuijian" class="icon-shouye  iconfont" ng-class="{change:title=='首页'}" ng-click="title='首页'">
        <div>首页</div>
      </a>
    </li>
    <li>
      <a href="#/shipin" class="icon-shipin iconfont" ng-class="{change:title=='视频'}" ng-click="title='视频'">
        <div>视频</div>
      </a>
    </li>
    <li>
      <a href="#/huati" class="icon-huati01 iconfont" ng-class="{change:title=='话题'}" ng-click="title='话题'">
          <div>话题</div>
      </a>
    </li>
    <li>
      <a href="#/wo" class="icon-wode iconfont" ng-class="{change:title=='我的'}" ng-click="title='我的'">
          <div>我的</div>
      </a>
    </li>
  </ul>
</div>
