<div class="header">
  <ul>
    <li>
        <a href="#/tuijian" ng-class="{click:title=='推荐'}" ng-click="title='推荐'" class="bbb click" >推荐</a>
    </li>
    <li>
      <a href="#/hot" ng-class="{click:title=='热点'}" ng-click="title='热点'">热点</a>
    </li>
    <li>
      <a href="#/shipin" ng-class="{click:title=='视频'}" ng-click="title='视频'">视频</a>
    </li>
    <li>
      <a href="#/tuijian" ng-class="{click:title=='社会'}" ng-click="title='社会'">社会</a>
    </li>
    <li>
      <a href="#/hot" ng-class="{click:title=='科技'}" ng-click="title='科技'">科技</a>
    </li>
  </ul>
  <!-- <div class="search">
    <input type="text">
  </div> -->
</div>
