<div class="wo">
   <div class="logo"></div>
   <div class="three">
     <ul>
       <li>
         <a href="#" class="icon-shoucang iconfont">
           <div>收藏</div>
         </a>
       </li>
       <li>
         <a href="#" class="icon-xiaoyedeng iconfont">
           <div>夜间</div>
         </a>
       </li>
       <li>
         <a href="#" class="icon-shezhi iconfont">
           <div>设置</div>
         </a>
       </li>
     </ul>
   </div>
   <div class="dongtai">
     <div class="left">好友动态</div>
     <!-- <div class="right">&gt</div> -->
   </div>
   <ul class="ul">
     <li>
       <div>通知</div>
     </li>
     <li>
       <div>活动</div>
     </li>
     <li>
       <div>商城</div>
     </li>
     <li>
       <div>今日游戏</div>
     </li>
   </ul>
</div>
